.similar-requests {
    background: #fff;
    border-radius: 4px;
    
    h4 {
        margin: 0;
        font-size: 14px;
        padding: 20px;
        border-bottom: 2px solid $bggray;
    }
    
    .requests {
        padding: 20px;
        text-align: center;
        
        p {
            margin-top: 20px;
        }
        
        img {
            max-width: 100%;
        }
    }
}