/* General styles */

.container {
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    outline: 0;
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.thumbnail {
    border: none;
}

*:hover {
    transition: 0.3s
}

a:hover, a:active, a:focus {
    outline: 0;
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
}