.pagination-big {
  margin-top: 30px;
  border-radius: 4px;
  background: #fff;
  width: 100%;
}
.pagination-big ul {
  padding: 0;
  margin: 0;
}
.pagination-big ul li {
  display: block;
  float: left;
  border-right: 1px solid #efefef;
}
.pagination-big ul li a {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #3C3D41;
}
.my_profile_label{
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.55);
}
@media (max-width: 767px) {
  .pagination-big ul li a {
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
}
.pagination-big ul li a.pagination-arrow {
  position: relative;
}
.pagination-big ul li a.pagination-arrow span {
  display: block;
  position: absolute;
  top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  height: 2px;
  width: 8px;
  background: #9b9b9b;
}
@media (max-width: 767px) {
  .pagination-big ul li a.pagination-arrow span {
    top: 18px;
  }
}
.pagination-big ul li a.pagination-arrow span:last-child {
  top: 33px;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
@media (max-width: 767px) {
  .pagination-big ul li a.pagination-arrow span:last-child {
    top: 23px;
  }
}
.pagination-big ul li.active a {
  background: #F9F9F9;
}
.pagination-big ul li:last-child {
  float: right;
  border-left: 1px solid #efefef;
  border-right: none;
}
.pagination-big ul li:last-child a.pagination-arrow span {
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.pagination-big ul li:last-child a.pagination-arrow span:last-child {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.delete-task .btn {
  margin-top: 40px;
  padding: 6px 40px;
}

.provider-details {
  padding: 30px 20px;
  border-bottom: 2px solid #efefef;
}
.provider-details .user-info .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.provider-details .user-info button {
  float: right;
}
.provider-details .user-info .rate {
  margin-left: 80px;
}
.provider-details .user-info p {
  margin-bottom: 5px;
}
.provider-details .user-info .phone-number {
  font-weight: 700;
  text-decoration: underline;
  margin-left: 10px;
}
.provider-details .user-info .amount {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.provider-details .provider-message {
  margin-top: 20px;
  font-size: 16px;
}

.provider-details:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  #choose-provider-modal .modal-dialog {
    width: 500px;
  }
}
#choose-provider-modal .modal-header {
  text-align: left;
}
#choose-provider-modal .modal-body {
  text-align: center;
  padding: 30px 15px 15px;
}
#choose-provider-modal .modal-body .modal-title {
  margin-top: 10px;
}
#choose-provider-modal .modal-footer .btn {
  width: 130px;
  margin: 0 20px 20px;
}

.provider-actions {
  margin: 40px 0;
}
@media (max-width: 500px) {
  .provider-actions {
    text-align: center;
  }
}
.provider-actions .btn:first-child {
  margin-right: 30px;
}
@media (max-width: 500px) {
  .provider-actions .btn:first-child {
    margin: 0 auto 15px;
    display: block;
  }
}

@media (min-width: 768px) {
  #rate-provider-modal .modal-dialog {
    width: 500px;
  }
}
#rate-provider-modal .modal-header {
  text-align: left;
}
#rate-provider-modal .modal-body select {
  width: 70%;
  margin-bottom: 40px;
  background: #efefef;
  color: #9b9b9b;
  appearence: none;
  cursor: pointer;
  background-image: url(../img/select-caret-simple.png);
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 767px) {
  #rate-provider-modal .modal-body select {
    width: 100%;
  }
}
